*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(66, 50, 50);
}
#mainNav{
    position: absolute;
    top:0;
    right: 0;
}




#btn-main{
    width:100px;
    height:50px;
    border:0;
    border-radius:10px;
    background-color:orangered;
    color:#fff;
    font-size:18px;
    transition: 1s;
}

#btn-main:hover{
    background-color:rgba(241, 62, 17, 0.5);
    transition: 1s;
}

.subnav{
    margin-left: auto !important;
}

.subnav a{
    color: white !important;
    
}

.maindiv{
    position: relative;
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* opacity: 0.7;  */
    /* background-image: url('../assets/img/bg-masthead.jpg'); */
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size:cover;
    background:linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
      ),url('../assets/img/bg-masthead.jpg');
}

/* .maindiv:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    background-image: url('../assets/img/bg-masthead.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
  } */


.titlediv{
 position: relative;
 color: rgb(255, 255, 255);

}

.titlediv h2{
    font-family: 'Times New Roman', Times, serif;
    font-size:60px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px #310404;


}

#closetoggle{
 display: none;
}

.titlediv p{
    /* color:white; */
    font-size:18px;
    font-weight: bold;
}

.sect1{
    background-color: orangered;
    margin-top:-100px !important;
    text-align: center;
    opacity: 1 !important;
}

.sect1 h2{
    color: white;
}

.sect1 button{
    background-color: white;
    width:150px;
    height:50px;
    border-radius: 10px;
    border:0;
    font-size:18px;
    font-weight:bold;
    transition:1s;
}

.sect1 button:hover{
    background-color: rgba(0, 0, 0, 0.1);
    transition:1s;
}


/*sect2*/
.sect2 h3,p{
    color:#fff;
}

/* sect3 */
.sect3{
    margin:0 !important;
    padding:0 !important;
    box-sizing: border-box !important;
    display:flex;
    flex-direction:row;
    text-align: center;
    justify-content: center;
    max-width:100%;
    background-color: #fff;
    margin-bottom: 5px;
}
.sect3-1,.sect3-2,.sect3-3{
  box-sizing: border-box !important;
  outline:1px solid grey;
  padding:10px;
  flex:30%;
  height:auto;
  overflow: hidden;
}

.sect3-img{
    position: relative;
}
.sect3-1:hover .sect3-overlay{
position: absolute;
background-color: #310404;
left:0;
top:0;
width:100%;
height:100%;
opacity:0.8;
}

.sect3-2:hover .sect3-overlay{
    position: absolute;
    background-color: #310404;
    left:0;
    top:0;
    width:100%;
    height:100%;
    opacity:0.8;
    }

.sect3-3:hover .sect3-overlay{
    position: absolute;
    background-color: #310404;
    left:0;
    top:0;
    width:100%;
    height:100%;
    opacity:0.8;
    }

.sect3-1 img{
    width:100%;
    height:300px;
}

.sect3-2 img{
    width:100%;
    height:300px;
}

.sect3-3 img{
    width:100%;
    height:300px;
}

.sect3 h3,p{
    color:white;
    margin-top:5px;
}


.sect3-overlay h3{
    display: none;
}

.sect3-overlay:hover h3{
    padding-top:100px;
    display: block;
}

.sect3-overlay p{
    display: none;
}

.sect3-overlay:hover p{
    display: block;
}

.btn-close{
 display: none;
}
@media only screen and (max-width: 800px){
    #closetoggle{
        display: block;
       }

}


@media only screen and (max-width: 760px){
    #mainnav{
        margin-top:80px !important;
    }
    .btn-close{font-size:18px; display:block; margin-right:auto}
    .menutoggle{
        position: absolute;
        background-color: #fff;
        width:100% !important;
        /* max-width:100% !important; */
        /* position: fixed !important; */
        top: 0;
        padding:5px;
        transition: 1s;
        text-align: center;
        border-radius:10px;
        right: 0 !important;
        left: 0 !important;
      
      }

      #closetoggle{
        display: block;
        margin-right: auto;
       }

      .subnav a{

        color:black !important;
        font-weight:bold;
      }

      .sect3{
        flex-direction:column;
    }

    .sect3-1,.sect3-2,.sect3-3{
        min-height:300px;
      }
      
}



